@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Suez+One&display=swap');

// Colors 
$primary-color:#67b0cf;
$secondary-color: #67cfa0;
$dark-color:#333;
$light-color:#f4f4f4;

// sizes and borders
$website-width:1100px;
$mobile-width:100%;

$solid-light-border:0.2px solid #eee;

$font-family: 'Suez One', serif;


