@media(max-width:500px) {
    .container {

        padding: 0;
    }

    #main-nav {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #form-fields{
        input{
            width: 90%;
        }
    }
    .form-actions{
        width: 90%;
    }
    .match{
        &-item{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-content{
            padding: 1rem .5rem;
        }
        &-actions{
            margin: 1rem 0 1rem 3rem;
        }
    }
}