@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Suez+One&display=swap');

@import './config';
@import './utillies';
@import '../pages/register';
@import '../pages/login';
@import '../pages/category';
@import '../pages/matches';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Header 
#main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2.5rem;
    
    ul {
        display: flex;
      
    }

    li {
        padding: 0 1.5rem;

        &:hover {
            opacity: 0.7;
        }
    }

    a {
        padding-bottom: 1rem;
        font-family: $font-family;
        font-size: 1.3rem;

        &:hover {
          
        }
    }
}
.main{
    &-link{
        cursor: pointer;
        font-size: 1.5rem;
        padding: 1rem .5rem; 
        &:hover{
            border-bottom: .1rem solid $light-color;
        }
    }
}

#landscape {
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.8)), url('../../img/bg-home.png') no-repeat center center/cover;

    &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;

        h1 {
            text-transform: uppercase;
            font-size: 3.2rem;
            margin-left: .5rem;
            letter-spacing: 1.2rem;
            font-family: 'Dosis', sans-serif;
        }

        p {
            margin: 1rem 1rem 1rem 0;

        }
    }

    &-actions {

        display: flex;
        justify-content: center;

        button {
            margin: 0 1.5rem;
        }
    }
}


.notifaction{
    position: relative;
    &-number{
        position: absolute;
        top: -5px;
        left:15px;
        background-color: $secondary-color;
        padding: .1rem .4rem;  
        border-radius: 50%;
       
    }
}
.favorite{
    color: $secondary-color;
}

@import './media';