#register{
    background: linear-gradient(rgba(255,255,255,0.85),rgba(255,255,255,0.7)), url('../../img/matching_alogrithem.png') no-repeat top center/cover;
    height: 100vh;
   
    border-right:$solid-light-border;
    border-left: $solid-light-border;
    
   
}
